body{
    background-color: black;
    color: white;
}

h1{
    text-align: center;
    background-color: rgb(3, 3, 3);
    border: solid red;
}

h2{
    text-align: center;
    border: solid red;
}

h3{
    text-align: center;
    border: solid red;
}

a{
    color: rgb(255, 0, 0);
}

h4{
    text-align: center;
    border: solid red;
}
